Info.plist
greensounds.xcodeproj
*.pbxproj
*.graffle
*.zip
build
.qmake.stash
.DS_Store
tmpSrc
Debug
Greensounds.pro.user
greensounds.build
libGreensounds.so
private
package/Greensounds*
ui/old
ui/*.qmlc
video
*.keystore
